\venv
# env files
\.venv
.env
.env.*
# pycache
__pycache__/

# vscode
.vscode/
.vscode/*

*.pem
server/uploads/

.pytest_cache/

# PyInstaller artifacts
build/
dist/
release/*.exe

*.json
server/sqlite_logging.py

change log.txt
docker_build.txt